/*------------------------------------*\
    $ELEMENTS: GALLERY/FOOTAGE PAGE
\*------------------------------------*/

.piece-of-media{

	h1{
		color: $blue;
		font-size: $h5-size;
		margin: 0 0 .5rem;
	}
	
	p{
		font-size: $micro-size;
	}
}