/*------------------------------------*\
    $ELEMENTS: RESUME PAGE
\*------------------------------------*/

.resume{
	
	margin-bottom: 3rem;
	
	
	
	.rb-resume-block .rb-about:after{
		margin: 0;
	}	
// overwrite styling from Resume Builder plugin
	.rb-title {
		font-weight: bold;
	}
	

	.rb-about-text {
		
		.rb-title{
			font-weight: bold;
		    line-height: 1.2;
		    margin: 0;
		    padding-bottom: 15px;
		}
		
		.rb-subtitle{
		    font-size: 19px;
		    line-height: 1.5;
		    margin: 0;
		    padding-bottom: 13px;
		}
		
		.rb-description{
			padding: 0;
		}
	}

	.rb-experience {
		
		.rb-section-title{
		    border-top: none;
		    color: #0185B0;
		    font-size: 14px;
		    font-weight: normal;
		    margin: 0 0 .8rem 0;
		    padding: 0;
		    text-transform: uppercase;
		}
		
		.rb-experience-item {
		    padding-bottom: 30px;
			    
			.rb-right{			    
			    font-size: 17px;
			    padding: 0;
			    
			    @include media-query(tablet){
				    float: right;
			    }
			    
			    p{
				    margin-bottom: 0;
			    }
			}
			
			.rb-title {
			    font-size: 17px;
			    padding: 0;
			}
			
			.rb-subtitle{
			    color: #aaa;
			}
				
		}
	}
		
}